name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: clean
      run: make clean
    - name: install deps
      run: sudo apt install libgit2-dev libfmt-dev libcrypto++-dev libcurlpp-dev libcurl4-openssl-dev
    - name: make release
      run: make release_ubuntu
