name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Arch Linux's package action
      uses: datakrama/archlinux-package-action@v1.0.3
        with:
          path: $GITHUB_WORKSPACE
          flags: '-si --noconfirm'
          namcap: false
